/*
Name: Keil Uvision
Description: Keil uVision IDE style
Version: 1.0
Author: Tilen Majerle
URL: http://majerle.eu
*/
.crayon-theme-keil-uvision {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #fdfdfd !important;
}
.crayon-theme-keil-uvision-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #fafafa !important;
}
.crayon-theme-keil-uvision .crayon-table .crayon-nums {
	background: #dfefff !important;
	color: #6d8fb7 !important;
}
.crayon-theme-keil-uvision *::selection {
	background: transparent !important;
}
.crayon-theme-keil-uvision .crayon-code *::selection {
	background: #ddeeff !important;
	color: #316ba5 !important;
}
.crayon-theme-keil-uvision .crayon-striped-line {
	background: #f7f7f7 !important;
}
.crayon-theme-keil-uvision .crayon-striped-num {
	background: #c8e1fa !important;
	color: #317cc5 !important;
}
.crayon-theme-keil-uvision .crayon-marked-line {
	background: #fffee2 !important;
	border-width: 1px !important;
	border-color: #e9e579 !important;
}
.crayon-theme-keil-uvision .crayon-marked-num {
	color: #1561ac !important;
	background: #b3d3f4 !important;
	border-width: 1px !important;
	border-color: #5999d9 !important;
}
.crayon-theme-keil-uvision .crayon-marked-line.crayon-striped-line {
	background: #faf8d1 !important;
}
.crayon-theme-keil-uvision .crayon-marked-num.crayon-striped-num {
	background: #9ec5ec !important;
	color: #105395 !important;
}
.crayon-theme-keil-uvision .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-keil-uvision .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-keil-uvision .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-keil-uvision .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-keil-uvision .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-keil-uvision .crayon-toolbar {
	background: #DDD !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #BBB !important;
	border-bottom-style: solid !important;
}
.crayon-theme-keil-uvision .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-keil-uvision .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-keil-uvision .crayon-title {
	color: #333 !important;
}
.crayon-theme-keil-uvision .crayon-language {
	color: #999 !important;
}
.crayon-theme-keil-uvision .crayon-button {
	background-color: #DDD !important;
}
.crayon-theme-keil-uvision .crayon-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-keil-uvision .crayon-button.crayon-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-keil-uvision .crayon-button.crayon-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-keil-uvision .crayon-button.crayon-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-keil-uvision .crayon-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-c {
	color: #007f00 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-s {
	color: #7f007f !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-p {
	color: #7f7f00 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-ta {
	color: #FF0000 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-k {
	color: #0000ff !important;
	font-weight: bold !important;
	font-style: italic !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-st {
	color: #0000ff !important;
	font-weight: bold !important;
	font-style: italic !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-r {
	color: #0000ff !important;
	font-weight: bold !important;
	font-style: italic !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-t {
	color: #0000ff !important;
	font-weight: bold !important;
	font-style: italic !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-m {
	color: #0000ff !important;
	font-weight: bold !important;
	font-style: italic !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-i {
	color: #000000 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-e {
	color: #000000 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-v {
	color: #000000 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-cn {
	color: #007f7f !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-o {
	color: #000000 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-sy {
	color: #333 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-f {
	color: #999 !important;
}
.crayon-theme-keil-uvision .crayon-pre .crayon-h {
	color: #000000 !important;
}
