{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <!-- Loop through each mqtt object in the queryset -->
    {% for mqtt_obj in mqtt %}
    <div class="row justify-content-center">
      <div class="col-md-4">
        <!-- Mini Box for Viewing Settings -->
        <div class="card mt-2">
          <div class="card-header">
            <h2 class="text-center">Settings</h2>
          </div>
          <div class="card-body">
            <!-- Display properties for each mqtt object -->
            <p id="broker">Broker: {{mqtt_obj.broker}}</p>
            <p id="port">Port: {{mqtt_obj.port}}</p>
            <p id="client_id">Client: {{mqtt_obj.client_id}}</p>
            <p id="pub_topic">Publish Topic: {{mqtt_obj.pub_topic}}</p>
            <p id="sub_topic">Subscribe Topic: {{mqtt_obj.sub_topic}}</p>
            <!-- Add more settings as needed -->
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- Mini Box for Viewing Settings -->
        <div class="card mt-4">
          <div class="card-header">
            <h2 class="text-center">Messages</h2>
          </div>
          <div class="card-body">
          <div class="card text-white bg-black" style="width: 100%; max-height: 500px; overflow-y: scroll;">
              <div id="message-box" class="card-body">
              </div>
          </div>
          </div>
        </div>
      </div>
    <!-- More Django template HTML code... -->

  {% block extra_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function scrollToBottom() {
    var messageBox = document.getElementById("message-box");
    messageBox.scrollTop = messageBox.scrollHeight;
  }

  $(document).ready(function(){
    // Define the smart list dictionary
    const out_msg_list = {
      '4294967295': 'oem_cmd.DEFAULT',
    };
    const in_msg_list = {
      'KEEP_ALIVE': 'vehicle_cmd.KA',
    };
    //
    function fetchData(){
      $.ajax({
        url: "/communications/",
        headers: { 'X-Requested-With': 'XMLHttpRequest' },
        success: function(data) {
          if (data.out_msg) {
            const out_msg_toShow = out_msg_list[data.out_msg] || data.out_msg;
            $("#message-box").append(`
              <div class="d-flex justify-content-start">
                <div class="card in_msg mb-2 text-right" style="max-width: 100%; width: 150px;">
                <small class="small-font"><p> ${out_msg_toShow} </p></small>
                </div>
              </div>
            `);
          }
          if (data.in_msg) {
            const in_msg_toShow = in_msg_list[data.in_msg] || data.in_msg;
            $("#message-box").append(`
              <div class="d-flex justify-content-end">
                <div class="card in_msg mb-2 text-left" style="max-width: 100%; width: 150px;">
                  <small class="small-font"><p> ${in_msg_toShow} </p></small>
                </div>
              </div>
            `);
          }
          scrollToBottom();

          // Scroll the newly added message into view
          var messageBox = document.getElementById("message-box");
          var messages = messageBox.getElementsByClassName("card");
          var latestMessage = messages[messages.length - 1];
          latestMessage.scrollIntoView();
        },
        complete: function(data){
          setTimeout(fetchData, 1000);
        }
      });
    }
    fetchData();
  });
</script>

  {% endblock extra_js %}
{% endblock content %}

<style>
  .small-font {
    font-size: 9px;
  }
</style>
