{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-4">
          <div class="card-header">
            <h2 class="text-center">Update Fota Record @{{ fota_id }}</h2>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="{{ form.firmware.id_for_label }}" class="form-label">Firmware:</label>
                {{ form.firmware }}
              </div>
              <div class="mb-3">
                <label for="{{ form.ecu.id_for_label }}" class="form-label">ECU:</label>
                {{ form.ecu }}
              </div>
              <div class="mb-3">
                <label for="{{ form.vehicle.id_for_label }}" class="form-label">Vehicle:</label>
                {{ form.vehicle }}
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="{{ form.availability_flag.id_for_label }}" name="{{ form.availability_flag.html_name }}" {% if form.availability_flag.value %}checked{% endif %}>
                <label class="form-check-label" for="{{ form.availability_flag.id_for_label }}">Availability Flag</label>
              </div>
              {% comment %} <div class="form-check">
                <input type="checkbox" class="form-check-input" id="{{ form.update_ready_flag.id_for_label }}" name="{{ form.update_ready_flag.html_name }}" {% if form.update_ready_flag.value %}checked{% endif %}>
                <label class="form-check-label" for="{{ form.update_ready_flag.id_for_label }}">Update Ready Flag</label>
              </div> {% endcomment %}
              <div class="mb-3">
                <label for="{{ form.status.id_for_label }}" class="form-label">Status:</label>
                {{ form.status }}
              </div>
              {% comment %} <div class="mb-3">
                <label for="{{ form.started_at.id_for_label }}" class="form-label">Started At:</label>
                {{ form.started_at }}
              </div> {% endcomment %}
              {% comment %} <div class="mb-3">
                <label for="{{ form.completed_at.id_for_label }}" class="form-label">Completed At:</label>
                {{ form.completed_at }}
              </div> {% endcomment %}
              <div class="mb-3">
                <label for="{{ form.minutes_taken.id_for_label }}" class="form-label">Time Taken (seconds):</label>
                {{ form.minutes_taken }}
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
              <a href="{% url 'database' %}" class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
