{% extends 'base.html' %}

{% block content %}
<h1> Vehicles Database @{{ vehicles.vehicle_id }} </h2>

{% if vehicles %}
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th class="text-center" scope="col">ID</th>
          <th class="text-center" scope="col">Model</th>
          <th class="text-center" scope="col">Year</th>
          <th class="text-center" scope="col">Ecu ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">{{ vehicles.ecu_id }}</td>
          <td class="text-center">{{ vehicles.model }}</td>
          <td class="text-center">{{ vehicles.year }}</td>
          <td class="text-center"><a href="{% url 'ecu_database' vehicles.ecu.ecu_id %}"> {{ vehicles.ecu.ecu_id }} </a> </td>
        </tr>
      </tbody>
    </table>
    <br/>
{% endif %}

{% endblock content %}
